@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
               font-family: "font1";
               src: url("../app/fonts/_Xms-HUzqDCFdgfMm4S9DQ\ \(1\).ttf");
}


*::-webkit-scrollbar {
               display: none;
               -webkit-user-select: none; /* Safari */
               -ms-user-select: none; /* IE 10 and IE 11 */
               user-select: none; 
}
             
* {
               -ms-overflow-style: none;  /* IE and Edge */
               scrollbar-width: none;  /* Firefox */
               font-family: font1;
               -webkit-user-select: none; /* Safari */
               -ms-user-select: none; /* IE 10 and IE 11 */
               user-select: none; /* Standard syntax */
}